<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" id="myTableElementId">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Dist_Category </th>
      <td mat-cell *matCellDef="let element"> {{element.Dist_Category}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Circle </th>
      <td mat-cell *matCellDef="let element"> {{element.Circle}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Region </th>
      <td mat-cell *matCellDef="let element"> {{element.Region}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Area </th>
      <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
    </ng-container>

    <ng-container matColumnDef="Territory">
      <th mat-header-cell *matHeaderCellDef> Territory </th>
      <td mat-cell *matCellDef="let element"> {{element.Territory}} </td>
    </ng-container>

    <ng-container matColumnDef="Town">
      <th mat-header-cell *matHeaderCellDef> Town </th>
      <td mat-cell *matCellDef="let element"> {{element.Town}} </td>
    </ng-container>

    <ng-container matColumnDef="Code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
    </ng-container>

    <ng-container matColumnDef="Dist_Code">
      <th mat-header-cell *matHeaderCellDef> Dist_Code </th>
      <td mat-cell *matCellDef="let element"> {{element.Dist_Code}} </td>
    </ng-container>

    <ng-container matColumnDef="Dist_Name">
      <th mat-header-cell *matHeaderCellDef> Dist_Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Dist_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Functionality">
      <th mat-header-cell *matHeaderCellDef> Functionality </th>
      <td mat-cell *matCellDef="let element"> {{element.Functionality}} </td>
    </ng-container>

    <ng-container matColumnDef="Dist_Active">
      <th mat-header-cell *matHeaderCellDef> Dist_Active </th>
      <td mat-cell *matCellDef="let element"> {{element.Dist_Active}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_ID">
      <th mat-header-cell *matHeaderCellDef> Shop_ID </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_ID}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_Code">
      <th mat-header-cell *matHeaderCellDef> Shop_Code </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_Code}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_Name">
      <th mat-header-cell *matHeaderCellDef> Shop_Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_Category">
      <th mat-header-cell *matHeaderCellDef> Shop_Category </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_Category}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_Channel">
      <th mat-header-cell *matHeaderCellDef> Shop_Channel </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_Channel}} </td>
    </ng-container>

    <ng-container matColumnDef="Shop_Classification">
      <th mat-header-cell *matHeaderCellDef> Shop_Classification </th>
      <td mat-cell *matCellDef="let element"> {{element.Shop_Classification}} </td>
    </ng-container>

    <ng-container matColumnDef="Shops_Active">
      <th mat-header-cell *matHeaderCellDef> Shops_Active </th>
      <td mat-cell *matCellDef="let element"> {{element.Shops_Active}} </td>
    </ng-container>

    <ng-container matColumnDef="Is_PJP">
      <th mat-header-cell *matHeaderCellDef> Is_PJP </th>
      <td mat-cell *matCellDef="let element"> {{element.Is_PJP}} </td>
    </ng-container>

    <ng-container matColumnDef="newShopCode">
      <th mat-header-cell *matHeaderCellDef> New_Shop_Code </th>
      <td mat-cell *matCellDef="let element"> {{element.NewID}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 50, 100 , 1000 , 8000, 70000]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>

  <div style="justify-content: center; display: flex;">
    <button mat-raised-button color="primary" (click)="export()">Download</button>
  </div>
</div>
